<%# Hero image / overlay / logo composition - expects locals: image_url %>
<div class="feature-item">
  <div class="feature-icon"></div>
  <div class="feature-text">Access to all premium tools and features</div>
</div>
<div class="feature-item">
  <div class="feature-icon"></div>
  <div class="feature-text">Seamless team collaboration</div>
</div>
<div class="feature-item">
 <div class="feature-icon"></div>
 <div class="feature-text">Priority customer support</div>
</div>
    