<p class="welcome-message" style="margin-top: 24px; font-size: 14px;">
   'Need help? Our support team is here for you 24/7. Just reply to this email and we\'ll get back to you right away.'
    <br/>
    <a href="mailto:<%= ENV['SUPPORT_EMAIL'] %>" style="color:#667eea; text-decoration:none;"><%= ENV['SUPPORT_EMAIL'] %></a>
</p>
